#btn{
    color: white;
    background-color: rgb(27, 27, 3);
}
#celsius{
    color: black;
    background-color: rgb(160, 144, 144);
}
#fahrenheit{
    color: black;
    background-color: rgb(160, 144, 144);
}